@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/kaushan-script-v7-latin-regular.woff);
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/montserrat-v12-latin-regular.woff);
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/montserrat-v12-latin-700.woff);
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url(../fonts/roboto-v18-latin-regular.woff)
}