* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //   outline: 1px solid red;
}

.wrapper {
  max-width: 1920;
  margin: auto;
}

.face {
  max-width: 1920px;
  padding-top: 37px;
  background-size: cover;
  background-position: center;
  margin: auto;
  text-align: center;
  background-image: linear-gradient(#e78282a9, #eed6899c), url(../images/img/Layer15@1X.png);

}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 164px;
}

h3 {
  font-family: 'Kaushan Script', sans-serif;
  font-size: 72pt;
  color: rgba(255, 255, 255, 255);
  text-align: center;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 150pt;
  color: rgba(255, 255, 255, 255);
  text-align: center;
}

.fon-but {
  margin-top: 124px;
  margin-bottom: 230px;
  background: transparent;
  box-shadow: none;
  border: none;
  border: 2px solid white;


}

.section1 {
  //   display: flex;
  max-width: 1920px;
  background-size: cover;
  background-position: center;
  margin: auto;
  background-color: #ffffff;
}

header {
  display: flex;
  width: 1200px;
  margin: auto;
  margin-top: 28px;
  margin-bottom: 0px;


}

.logo-s1 {
  font-size: 30pt;
  color: white;
  text-align: left;
  flex-basis: 40%;
}

ul {
  list-style: none;
  display: flex;
  flex-basis: 40%;
  justify-content: space-between;
  align-items: center;
}

.li-s1 {
  text-decoration: none;
  font-size: 14pt;
  color: white;
  text-align: center;
  text-transform: uppercase;
}


.article-s1 {
  display: flex;
}

.h1-s1 {
  font-family: 'Kaushan Script', sans-serif;
  font-size: 24px;
  color: rgba(51, 51, 51, 255);
  text-align: center;
  padding-bottom: 15px;
}

.h2-s1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30pt;
  color: rgba(51, 51, 51, 255);
  text-align: center;
}

.main-s1 {
  display: flex;
  max-width: 1200px;
  height: 500;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  align-content: space-between;
  margin-bottom: 90px;
}

.blok-s1 {
  width: 380px;
  font-size: 15pt;
  color: rgba(153, 153, 153, 255);
  text-align: left;
  display: flex;
  margin-top: 60px;
}

.p1 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14pt;
  color: rgba(51, 51, 51, 255);
  text-align: left;
}

.p2 {
  font-family: 'Roboto', sans-serif;
  font-size: 15pt;
  color: rgba(153, 153, 153, 255);
  text-align: left;
}

.img-s1 {
  width: 32px;
  height: 32px;
  margin-right: 30px;
}

.main-p {
  font-size: 15pt;
  color: rgba(153, 153, 153, 255);
  text-align: left;
}

main {
  margin-bottom: 60px;
}

.h3-s1 {
  font-size: 15pt;
  font-family: 'Roboto', sans-serif;
  color: rgba(153, 153, 153, 255);
  margin: auto;
  margin-bottom: 90px;
  margin-top: 48px;
  width: 940px;
  text-align: center;
}

.main-s2 {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 88px;
}

.pic-2 {
  width: 383px;
  margin: auto;
  position: relative;
}

.s2m1 {
  font-size: 14pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: rgba(51, 51, 51, 255);
  text-align: center;
  margin-top: 28px;
}

.s2m2 {
  font-family: 'Roboto', sans-serif;
  font-size: 15pt;
  color: rgba(153, 153, 153, 255);
  text-align: center;
}

footer {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  margin-top: 12px;
  padding-bottom: 12px;
  margin: auto;
}

.connect {
  display: flex;
  justify-content: flex-end;


}

.footer-t {
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  color: rgba(51, 51, 51, 255);
  text-align: left;
  padding-top: 7px;
}

.foot1 {
  color: #f38181;
}

.mail {
  font-size: 15pt;
  color: rgba(204, 204, 204, 255);
  text-align: left;
  width: 230px;
  height: 40px;
  border: 1px solid rgba(204, 204, 204, 255);
  padding-top: 6px;
}

button {
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: rgba(255, 255, 255, 255);
  text-align: center;
  text-transform: uppercase;
}

.h2-s1::after {
  content: "";
  width: 60px;
  height: 3px;
  background-size: cover;
  background-position: center;
  display: block;
  background-color: #f38181;
  margin: auto;
  margin-top: 43px;
}

.covers1 {
  width: 383px;
  height: 473px;
  background-image: linear-gradient(to bottom, #ee8989, #eed687);
  position: absolute;
  top: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic-2:hover .covers1 {
  opacity: 0.7;
  transition: all 200ms ease;
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px #95e1d3;
}

.pic-2:hover .cn {
  opacity: 1;
  transition: all 200ms ease;
  // transform: translate(-10px, -10px);
  // box-shadow: 10px 10px blue;
}

.cn {
  display: flex;
  width: 230px;
  position: absolute;
  top: 210px;
  left: 60px;
  opacity: 0;

  /*justify-content: center;*/
  /*align-items: center;*/


}

.cn-name {
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  //   text-align: center;
  display: flex;
  //   margin: auto;
  //   padding-top: 17px;
  align-items: center;
  justify-content: center;
}

.li-s1:hover::after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background-color: #fce38a;
  margin: auto;
}

.li-s1:hover {
  color: #fce38a;
}

.cn-name:hover {
  background-color: #f38181;
}

.cn-name:hover .covers1 {
  opacity: 0.7;
}

.cn-name:hover .icon {
  fill: #fce38a;
}

.icon {
  fill: white;
}

@media (min-resolution: 192dpi),(min-resolution: 2dppx) {
  .face {
    background: linear-gradient(#e78282a9, #eed6899c), url(../images/img/Layer15@2X.png);
    background-position: center;

  }

}